@media (max-width: 1440px) {
  h1 img {
    width: 10%;
    height: 10%;
  }

  .login-container {
    transform: scale(0.7);
  }

  .login-container:hover {
    transform: scale(0.8);
  }

  .final-comment,
  .dummy-license {
    font-size: 0.8rem;
    padding-bottom: 4rem;
  }

  footer {
    margin-top: 6rem;
  }
}

@media (max-width: 1024px) {
  h1 img {
    height: 12%;
    width: 12%;
  }

  .login-container {
    transform: scale(0.7);
  }

  .login-container:hover {
    transform: scale(1);
  }

  footer {
    margin-top: 7rem;
  }
}

@media (max-width: 768px) {
  h1 img {
    height: 13%;
    width: 13%;
  }

  .login-container {
    transform: scale(0.7);
  }

  .login-container:hover {
    transform: scale(0.8);
  }

  footer {
    margin-top: 9rem;
  }
}

@media (max-width: 426px) {
  h1 img {
    height: 19%;
    width: 19%;
  }

  .login-container {
    transform: scale(0.5);
  }

  .login-container:hover {
    transform: scale(0.68, 0.75);
  }

  footer {
    margin-top: 10rem;
  }
}

@media (max-width: 320px) {
  h1 img {
    height: 25%;
    width: 25%;
  }

  .login-container {
    transform: scale(0.4);
  }

  .login-container:hover {
    transform: scale(0.5, 0.6);
  }
}
